<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Project List
            </div>
            <div class="card-body">
                <table class="table table-bordered"> 
                    <thead>
                        <tr class="text-center">
                            <th>Emp Id</th>
                            <th>Emp Name</th>
                            <th>Project Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Client Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of clientProjectList; track $index) {
                            <tr>
                                <td>{{item.empId}}</td>
                                <td>{{item.empName}}</td>
                                <td>{{item.projectName}}</td>
                                <td>{{item.startDate | date}}</td>
                                <td>{{item.expectedEndDate | date}}</td>
                                <td>{{item.clientName}}</td>
                                <td>
                                    <button class="btn btn-danger m-1" (click)="deleteClientProject(item.clientProjectId)">
                                        <i class="fa-solid fa-trash"></i>
                                    </button> 
                                    <button class="btn btn-secondary m-1" (click)="onEdit(item.clientProjectId)">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card"> 
            <div class="card-header bg-success">
                New Client Project
            </div>
            <div class="card-body">
                <form [formGroup]="projectForm"> 
                    <div class="row">
                        <div class="col-6">
                            <label for="">Project Name</label>
                            <input type="text" formControlName="projectName" class="form-control">
                            @if (projectForm.controls['projectName'].touched) {
                                <div class="text-danger">
                                    @if(projectForm.controls['projectName'].errors?.['required']){
                                        <span>
                                            this is required field
                                        </span>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Start Date</label>
                            <input type="date" formControlName="startDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Expected EndDate</label>
                            <input type="date" formControlName="expectedEndDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Name</label>
                            <input type="text" formControlName="contactPerson" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Mobile</label>
                            <input type="text" formControlName="contactPersonContactNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Email</label>
                            <input type="text" formControlName="contactPersonEmailId" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Total Employee Count</label>
                            <textarea type="number" formControlName="totalEmpWorking"  class="form-control"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">project Costing</label>
                            <input type="number" formControlName="projectCost" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Project Description</label>
                            <input formControlName="projectDetails" type="text"  class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Select Client</label>
                            <select formControlName="clientId"  class="form-control">
                                <option value="">Select Client</option>
                                @for (item of clientList; track $index) {
                                    <option [ngValue]="item.clientId">{{item.companyName}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="">Lead By</label>
                            <select formControlName="leadByEmpId"  class="form-control">
                                <option value="">Select Employee</option>
                                @for (item of employeeList; track $index) {
                                    <option [ngValue]="item.empId">{{item.empName}} - {{item.empCode}}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-success" [disabled]="projectForm.invalid" (click)="onSaveProject()">{{clientProjectObj.clientProjectId != 0 ? 'Update Project': 'Save Project'}}</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary" (click)="onReset()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>